<a href="https://colab.research.google.com/github/Saifullah785/statistics-for-data-science-journey/blob/main/Lecture_04_ANOVA/Lecture_04_ANOVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. ONE-WAY ANOVA**

In [ ]:
import scipy.stats as stats

fertilizer1 = [20, 22, 19, 24, 25]
fertilizer2 = [28, 30, 27, 26, 29]
fertilizer3 = [18, 20, 22, 19, 24]

f_stat, p_value = stats.f_oneway(fertilizer1, fertilizer2, fertilizer3)

print("F-statistic:", f_stat)
print("p-value:", p_value)

if p_value < 0.05:
    print("Reject null hypothesis: The mean are not equal, as the p-value is less than 0.05.")
else:
    print("Accept null hypothesis: The means are equal, as the p-value: {p_val} is greater than 0.05")

F-statistic: 15.662162162162158
p-value: 0.00045154047609972817
Reject null hypothesis: The mean are not equal, as the p-value is less than 0.05.

In [ ]:
#one-way anova using statsmodels
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [ ]:
# create a dataframe
df = pd.DataFrame({"fertilizer": ["fertilizer1"] * 5 + ["fertilizer2"] * 5 + ["fertilizer3"] * 5,
                   "growth": fertilizer1 + fertilizer2 + fertilizer3})
df.head()

    fertilizer  growth
0  fertilizer1      20
1  fertilizer1      22
2  fertilizer1      19
3  fertilizer1      24
4  fertilizer1      25

In [ ]:
df['fertilizer'].value_counts()

fertilizer
fertilizer1    5
fertilizer2    5
fertilizer3    5
Name: count, dtype: int64

In [ ]:
model = ols('growth ~ C(fertilizer)', data=df).fit()

In [ ]:
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

                   sum_sq    df          F    PR(>F)
C(fertilizer)  154.533333   2.0  15.662162  0.000452
Residual        59.200000  12.0        NaN       NaN

In [ ]:
if anova_table['PR(>F)'][0] < 0.05:
    print("Reject null hypothesis: The means are not equal, as the p-value: {p_val} is less than 0.05.")
else:
    print("Accept null hypothesis: The means are equal, as the p-value: {p_val} is greater than 0.05")

Reject null hypothesis: The means are not equal, as the p-value: {p_val} is less than 0.05.

/tmp/ipython-input-2893166642.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if anova_table['PR(>F)'][0] < 0.05:

In [ ]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

# Define fertilizer data (moved from previous cells to fix NameError)
fertilizer1 = [20, 22, 19, 24, 25]
fertilizer2 = [28, 30, 27, 26, 29]
fertilizer3 = [18, 20, 22, 19, 24]

df = pd.DataFrame({"fertilizer": ["fertilizer1"] * 5 + ["fertilizer2"] * 5 + ["fertilizer3"] * 5,
                   "growth": fertilizer1 + fertilizer2 + fertilizer3})

# Corrected typo: 'grouth' changed to 'growth'
model = ols("growth ~ fertilizer", data=df).fit()

anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

# Updated to use .iloc[0] for positional indexing as recommended by FutureWarning
if anova_table['PR(>F)'].iloc[0] < 0.05:
    print(f"Reject null hypothesis: The means are not equal, as the p-value: {anova_table['PR(>F)'].iloc[0]:.6f} is less than 0.05.")

else:
    print(f"Accept null hypothesis: The means are equal, as the p-value: {anova_table['PR(>F)'].iloc[0]:.6f} is greater than 0.05")

                sum_sq    df          F    PR(>F)
fertilizer  154.533333   2.0  15.662162  0.000452
Residual     59.200000  12.0        NaN       NaN
Reject null hypothesis: The means are not equal, as the p-value: 0.000452 is less than 0.05.

#2. TWO - WAY ANOVA

In [ ]:
data = pd.DataFrame({
    "Growth": [20, 22, 19, 24, 25, 28, 30, 27, 26, 29, 18, 20, 22, 19, 24,
               21, 23, 20, 25, 26, 29, 31, 28, 27, 30, 19, 21, 23, 20, 25],
    "Fertilizer": ["F1", "F1", "F1", "F1", "F1", "F2", "F2", "F2", "F2", "F2",
                   "F3", "F3", "F3", "F3", "F3", "F1", "F1", "F1", "F1", "F1",
                   "F2", "F2", "F2", "F2", "F2", "F3", "F3", "F3", "F3", "F3"],
    "Sunlight": ["High", "High", "High", "High", "High", "High", "High", "High", "High",
                 "High",
                 "High", "High", "High", "High", "High", "Low", "Low", "Low", "Low", "Low",
                 "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low"]})

In [ ]:
data.head()

   Growth Fertilizer Sunlight
0      20         F1     High
1      22         F1     High
2      19         F1     High
3      24         F1     High
4      25         F1     High

In [6]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

data = pd.DataFrame({
    "Growth": [20, 22, 19, 24, 25, 28, 30, 27, 26, 29, 18, 20, 22, 19, 24,
               21, 23, 20, 25, 26, 29, 31, 28, 27, 30, 19, 21, 23, 20, 25],
    "Fertilizer": ["F1", "F1", "F1", "F1", "F1", "F2", "F2", "F2", "F2", "F2",
                   "F3", "F3", "F3", "F3", "F3", "F1", "F1", "F1", "F1", "F1",
                   "F2", "F2", "F2", "F2", "F2", "F3", "F3", "F3", "F3", "F3"],
    "Sunlight": ["High", "High", "High", "High", "High", "High", "High", "High", "High", "High",
                 "High", "High", "High", "High", "High", "Low", "Low", "Low", "Low", "Low",
                 "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low"]
})

model = ols('Growth ~ C(Fertilizer) + C(Sunlight) + C(Fertilizer):C(Sunlight)', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)

print(anova_table)

if anova_table['PR(>F)'][0] < 0.05:
  print("Reject null hypothesis: The means are not equal, as the p-value: {p_val} is less than 0.05.")
else:
  print("Accept null hypothesis: The means are equal, as the p-value: {p_val} is greater than 0.05")

                                 sum_sq    df             F        PR(>F)
C(Fertilizer)              3.090667e+02   2.0  3.132432e+01  2.038888e-07
C(Sunlight)                7.500000e+00   1.0  1.520270e+00  2.295198e-01
C(Fertilizer):C(Sunlight)  6.441240e-28   2.0  6.528284e-29  1.000000e+00
Residual                   1.184000e+02  24.0           NaN           NaN
Reject null hypothesis: The means are not equal, as the p-value: {p_val} is less than 0.05.

/tmp/ipython-input-668089882.py:21: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if anova_table['PR(>F)'][0] < 0.05:

Three - Way ANOVA

In [7]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

data = pd.DataFrame({
    "Growth": [20, 22, 19, 24, 25, 28, 30, 27, 26, 29, 18, 20, 22, 19, 24,
               21, 23, 20, 25, 26, 29, 31, 28, 27, 30, 19, 21, 23, 20, 25,
               20, 22, 21, 23, 24, 26, 28, 25, 27, 29, 17, 19, 21, 18, 20],
    "Fertilizer": ["F1", "F1", "F1", "F1", "F1", "F2", "F2", "F2", "F2", "F2",
                   "F3", "F3", "F3", "F3", "F3", "F1", "F1", "F1", "F1", "F1",
                   "F2", "F2", "F2", "F2", "F2", "F3", "F3", "F3", "F3", "F3",
                   "F1", "F1", "F1", "F1", "F1", "F2", "F2", "F2", "F2", "F2",
                   "F3", "F3", "F3", "F3", "F3"],
    "Sunlight": ["High", "High", "High", "High", "High", "High", "High", "High", "High", "High",
                 "High", "High", "High", "High", "High", "Low", "Low", "Low", "Low", "Low",
                 "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low", "Low",
                 "High", "High", "High", "High", "High", "High", "High", "High", "High", "High",
                 "High", "High", "High", "High", "High"],
    "Watering": ["Regular", "Regular", "Regular", "Regular", "Regular",
                 "Regular", "Regular", "Regular", "Regular", "Regular",
                 "Regular", "Regular", "Regular", "Regular", "Regular",
                 "Sparse", "Sparse", "Sparse", "Sparse", "Sparse",
                 "Sparse", "Sparse", "Sparse", "Sparse", "Sparse",
                 "Sparse", "Sparse", "Sparse", "Sparse", "Sparse",
                 "Regular", "Regular", "Regular", "Regular", "Regular",
                 "Regular", "Regular", "Regular", "Regular", "Regular",
                 "Regular", "Regular", "Regular", "Regular", "Regular"]
})

In [8]:
model = ols('Growth ~ C(Fertilizer) + C(Sunlight) + C(Watering) + C(Fertilizer):C(Sunlight) + C(Fertilizer):C(Watering) + C(Sunlight):C(Watering) + C(Fertilizer):C(Sunlight):C(Watering)', data=data).fit()

In [9]:
anova_results = sm.stats.anova_lm(model, typ=2)

print(anova_results)

                                             sum_sq    df             F  \
C(Fertilizer)                          4.680444e+02   2.0  5.802204e+01
C(Sunlight)                           -2.833807e-13   1.0 -7.025969e-14
C(Watering)                           -6.093706e-13   1.0 -1.510836e-13
C(Fertilizer):C(Sunlight)              1.014920e-13   2.0  1.258165e-14
C(Fertilizer):C(Watering)             -1.943600e-13   2.0 -2.409422e-14
C(Sunlight):C(Watering)                2.054444e+01   1.0  5.093664e+00
C(Fertilizer):C(Sunlight):C(Watering)  1.088889e+00   2.0  1.349862e-01
Residual                               1.573000e+02  39.0           NaN

                                             PR(>F)
C(Fertilizer)                          2.050614e-12
C(Sunlight)                            1.000000e+00
C(Watering)                            1.000000e+00
C(Fertilizer):C(Sunlight)              1.000000e+00
C(Fertilizer):C(Watering)              1.000000e+00
C(Sunlight):C(Watering)                2.969139e-02
C(Fertilizer):C(Sunlight):C(Watering)  8.741344e-01
Residual                                        NaN

In [10]:
if anova_results["PR(>F)"][0] < 0.05:

  print("Reject null hypothesis: The means are not equal, as the p-value: {p_val} is less than 0.05.")
else:

  print("Fail to reject null hypothesis: The means are equal, as the p-value: {p_val} is greater than 0.05")

Reject null hypothesis: The means are not equal, as the p-value: {p_val} is less than 0.05.

/tmp/ipython-input-210144292.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if anova_results["PR(>F)"][0] < 0.05: